<div class="wrapper w-full h-fit bg-white p-5">
  <div class="title-btn-filter flex w-full align-items-center justify-content-between">
    <h1 class="text-3xl font-bold">WORKFOLLOW TASK LIST</h1>
  </div>
  <br />
  <p-breadcrumb class="max-w-full bg-white" [model]="items" [home]="home"></p-breadcrumb>

  <div class="wrapper-selector w-full flex mt-3 gap-2">
    <div class="flex flex-column w-full">
      <label>Month</label>
      <p-dropdown styleClass="w-full h-3rem mt-2" [options]="months" [(ngModel)]="selectedMonths" optionLabel="name"
        [filter]="true" filterBy="name" [showClear]="true" placeholder="Select month">
        <ng-template pTemplate="selectedItem" let-selectedOption>
          <div class="flex align-items-center gap-2">
            <div>{{ selectedOption.name }}</div>
          </div>
        </ng-template>
        <ng-template let-month pTemplate="item">
          <div class="flex align-items-center gap-2">
            <div>{{ month.name }}</div>
          </div>
        </ng-template>
      </p-dropdown>
    </div>

    <div class="flex flex-column w-full">
      <label>Employee</label>
      <p-dropdown styleClass="w-full h-3rem mt-2" [options]="users" [(ngModel)]="selectedUser"
        optionLabel="employee_name" [filter]="true" filterBy="employee_name" [showClear]="true"
        placeholder="Select employee">
        <ng-template pTemplate="selectedItem" let-selectedOption>
          <div class="flex align-items-center gap-2">
            <div>{{ selectedOption.employee_name }}</div>
          </div>
        </ng-template>
        <ng-template let-user pTemplate="item">
          <div class="flex align-items-center gap-2">
            <div>{{ user.employee_name }}</div>
          </div>
        </ng-template>
      </p-dropdown>
    </div>

    <div class="flex flex-column w-full">
      <label>Status</label>
      <p-dropdown styleClass="w-full h-3rem mt-2" [options]="status" [(ngModel)]="selectedStatus" optionLabel="name"
        [filter]="true" filterBy="name" [showClear]="true" placeholder="Select Status">
        <ng-template pTemplate="selectedItem" let-selectedOption>
          <div class="flex align-items-center gap-2">
            <div>{{ selectedOption.name }}</div>
          </div>
        </ng-template>
        <ng-template let-status pTemplate="item">
          <div class="flex align-items-center gap-2">
            <div>{{ status.name }}</div>
          </div>
        </ng-template>
      </p-dropdown>
    </div>

    <div class="flex flex-column w-full">
      <label>Testing Status</label>
      <p-dropdown styleClass="w-full h-3rem mt-2" [options]="testingStatus" [(ngModel)]="selectedTestingStatus"
        optionLabel="name" [filter]="true" filterBy="name" [showClear]="true" placeholder="Select Testing Status">
        <ng-template pTemplate="selectedItem" let-selectedOption>
          <div class="flex align-items-center gap-2">
            <div>{{ selectedOption.name }}</div>
          </div>
        </ng-template>
        <ng-template let-testingStatus pTemplate="item">
          <div class="flex align-items-center gap-2">
            <div>{{ testingStatus.name }}</div>
          </div>
        </ng-template>
      </p-dropdown>
    </div>

    <div class="flex flex-column w-full">
      <label>Tag</label>
      <input type="text" class="h-3rem mt-2" placeholder="Frontend, Backend, UXUI..." pInputText
        [(ngModel)]="valueTag" />
    </div>

    <div class="flex flex-column w-full">
      <label>Task ID</label>
      <input type="text" class="h-3rem mt-2" placeholder="Task ID" pInputText [(ngModel)]="valueTaskID" />
    </div>
  </div>

  <div class="wrapper-statistical flex flex-row justify-content-between gap-3 mt-3">
    <div class="w-3 h-fit surface-200 border-round-sm border-primary-500 p-3 cursor-pointer">
      <div class="card mb-0">
        <div class="flex flex-row align-items-center justify-content-between w-full">
          <div class="flex w-fit align-items-center justify-content-between">
            <i class="pi pi-bookmark text-blue-500 text-2xl pr-2"></i>
            <span class="block text-color text-2xl font-bold">Task</span>
          </div>
          <div
            class="flex w-4rem h-4rem border-circle border-primary-500 border-solid align-items-center justify-content-center">
            <p class="text-4xl">{{ tasklists.length }}</p>
          </div>
        </div>
      </div>
    </div>

    <div class="w-3 h-fit bg-primary-100 border-round-sm border-primary-500 p-3 cursor-pointer">
      <div class="card mb-0">
        <div class="flex flex-row align-items-center justify-content-between w-full">
          <div class="flex w-fit align-items-center justify-content-between">
            <i class="pi pi-chart-line text-blue-500 text-2xl pr-2"></i>
            <span class="block text-color text-2xl font-bold">Task in process</span>
          </div>
          <div
            class="flex w-4rem h-4rem border-circle border-primary-500 border-solid align-items-center justify-content-center">
            <p class="text-4xl">{{ taskInProcess.length }}</p>
          </div>
        </div>
      </div>
    </div>

    <div class="w-3 h-fit bg-yellow-300 border-round-sm border-primary-500 p-3 cursor-pointer">
      <div class="card mb-0">
        <div class="flex flex-row align-items-center justify-content-between w-full">
          <div class="flex w-fit align-items-center justify-content-between">
            <i class="pi pi-info-circle text-yellow-600 text-2xl pr-2"></i>
            <span class="block text-yellow-700 text-2xl font-bold">SL Bug</span>
          </div>
          <div
            class="flex w-4rem h-4rem border-circle border-yellow-600 border-solid align-items-center justify-content-center">
            <p class="text-4xl">{{ slBug.length }}</p>
          </div>
        </div>
      </div>
    </div>

    <div class="w-3 h-fit bg-red-400 border-round-sm border-primary-500 p-3 cursor-pointer">
      <div class="card mb-0">
        <div class="flex flex-row align-items-center justify-content-between w-full">
          <div class="flex w-fit align-items-center justify-content-between">
            <i class="pi pi-stopwatch text-red-600 text-2xl pr-2"></i>
            <span class="block text-red-600 text-2xl font-bold">SL Task late</span>
          </div>
          <div
            class="flex w-4rem h-4rem border-circle border-red-600 border-solid align-items-center justify-content-center">
            <p class="text-4xl">{{ slTaskLate.length }}</p>
          </div>
        </div>
      </div>
    </div>

    <div class="w-3 h-fit surface-200 border-round-sm border-primary-500 p-3 cursor-pointer">
      <div class="card mb-0">
        <div class="flex flex-row align-items-center justify-content-between w-full">
          <div class="flex w-fit align-items-center justify-content-between">
            <i class="pi pi-user text-blue-500 text-2xl pr-2"></i>
            <span class="block text-color text-xl font-bold">Employee in process</span>
          </div>
          <div
            class="flex w-4rem h-4rem border-circle border-primary-500 border-solid align-items-center justify-content-center">
            <p class="text-4xl">{{ employeeInProcess.length }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="wrapper-tasklist w-full mt-3">
    <div class="wrapper-header flex flex-row w-full align-items-center justify-content-between">
      <h2 class="text-2xl font-bold">Task list</h2>
      <div class="options flex flex-row align-items-center justify-content-between gap-2">
        <p-button label="Create task" icon="pi pi-plus"></p-button>
        <p-button label="Refresh" icon="pi pi-refresh"></p-button>
        <p-button label="Raw data" icon="pi pi-file-excel"></p-button>
      </div>
    </div>

    <div class="wrapper-table flex flex-column w-full mt-2">
      <!-- To-do table -->
      <p-table [value]="taskInToDo" [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template pTemplate="header">
          <tr>
            <th class="w-1">{{ taskInToDo[0].status }}</th>
            <th class="w-4">Task name</th>
            <th class="w-1 text-center">Start date</th>
            <th class="w-1 text-center">End date</th>
            <th class="w-1">Main day</th>
            <th class="w-1">Created by</th>
            <th class="w-2 text-right">Tag</th>
            <th class="w-1">Assignee</th>
            <th class="w-1 text-left">Edit</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-taskInToDo>
          <tr>
            <td>
              <p class="w-fit h-fit surface-200 border-round-lg border-primary-500 p-2">#{{ taskInToDo.task_id }}</p>
            </td>
            <td>{{ taskInToDo.task_name }}</td>
            <td>
              <div class="flex gap-2 align-items-center">
                <i class="pi pi-flag-fill" style="color: red;"></i>
                {{ taskInToDo.start_date }}
              </div>
            </td>
            <td>
              <div class="flex gap-2 align-items-center">
                <i class="pi pi-arrow-right" style="color: green; font-size: 0.8rem;"></i>
                {{ taskInToDo.end_date }}
              </div>
            </td>
            <td>
              <p class="w-fit h-fit bg-green-500 border-round-lg border-green-500 p-2 text-white">
                {{ taskInToDo.main_day }} 
                <span *ngIf="taskInToDo.main_day != 1; else oneDay">days</span>
                <ng-template #oneDay>day</ng-template>
              </p>
            </td>
            <td>{{ taskInToDo.created_by_name }}</td>
            <td>    
              <div class="flex flex-row w-full justify-content-end gap-2" *ngFor="let item of taskInToDo.tag.slice(0, -1).split(', ')">
                <p class="w-fit bg-yellow-300 border-round-sm border-primary-500 p-2"  *ngFor="let x of item.split(',')">{{ x }}</p>
              </div>
            </td>
            <td><img src="{{ taskInToDo.image }}" alt="{{ taskInToDo.assignees_name }}" class="w-3rem h-3rem border-circle" title="{{ taskInToDo.assignees_name }}"></td>
            <td><i class="pi pi-ellipsis-v"></i></td>
          </tr>
        </ng-template>
      </p-table>

      <!-- Develop table -->
      <p-table [value]="taskInProcess" [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template pTemplate="header">
          <tr>
            <th class="w-1">{{ taskInProcess[0].status }}</th>
            <th class="w-4">Task name</th>
            <th class="w-1 text-center">Start date</th>
            <th class="w-1 text-center">End date</th>
            <th class="w-1">Main day</th>
            <th class="w-1">Created by</th>
            <th class="w-2 text-right">Tag</th>
            <th class="w-1">Assignee</th>
            <th class="w-1">Edit</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-taskInProcess>
          <tr>
            <td>
              <div class="w-fit h-fit flex gap-2">
                <p class="w-fit h-fit surface-200 border-round-lg border-primary-500 p-2">#{{ taskInProcess.task_id }}</p>
                <p-badge [value]="taskInProcess.prioritize" severity="warning"></p-badge>
              </div>
            </td>
            <td class="w-25rem">{{ taskInProcess.task_name }}</td>
            <td>
              <div class="flex gap-2 align-items-center">
                <i class="pi pi-flag-fill" style="color: red;"></i>
                {{ taskInProcess.start_date }}
              </div>
            </td>
            <td>
              <div class="flex gap-2 align-items-center">
                <i class="pi pi-arrow-right" style="color: green; font-size: 0.8rem;"></i>
                {{ taskInProcess.end_date }}
              </div>
            </td>
            <td>
              <p class="w-fit h-fit bg-green-500 border-round-lg border-green-500 p-2 text-white">
                {{ taskInProcess.main_day }} 
                <span *ngIf="taskInProcess.main_day != 1; else oneDay">days</span>
                <ng-template #oneDay>day</ng-template>
              </p>
            </td>
            <td>{{ taskInProcess.created_by_name }}</td>
            <td>
              <div class="flex flex-row w-full justify-content-end gap-2" *ngFor="let item of taskInProcess.tag.slice(0, -1).split(', ')">
                <div class="w-fit bg-yellow-300 border-round-sm border-primary-500 p-2"  *ngFor="let x of item.split(',')">
                  <div *ngIf="x === ''; else empty" class="hidden"></div>
                  <ng-template #empty>{{ x }}</ng-template>
                </div>
              </div>
            </td>
            <td><img src="{{ taskInProcess.image }}" alt="avatar" class="w-3rem h-3rem border-circle"></td>
            <td><i class="pi pi-ellipsis-v"></i></td>
          </tr>
        </ng-template>
      </p-table>

      <!-- Completed table -->
      <p-table [value]="taskCompleted" [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template pTemplate="header">
          <tr>
            <th class="w-1">{{ taskCompleted[0].status }}</th>
            <th class="w-4">Task name</th>
            <th class="w-1 text-center">Start date</th>
            <th class="w-1 text-center">End date</th>
            <th class="w-1">Main day</th>
            <th class="w-1">Created by</th>
            <th class="w-2 text-right">Tag</th>
            <th class="w-1">Assignee</th>
            <th class="w-1">Edit</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-taskCompleted>
          <tr>
            <td>
              <p class="w-fit h-fit surface-200 border-round-lg border-primary-500 p-2">#{{ taskCompleted.task_id }}</p>
            </td>
            <td class="w-25rem">
              <span class="w-fit h-fit bg-green-500 border-round-lg border-green-500 p-2 text-white mr-2">Completed</span>
              {{ taskCompleted.task_name }}
            </td>
            <td>
              <div class="flex gap-2 align-items-center">
                <i class="pi pi-flag-fill" style="color: red;"></i>
                {{ taskCompleted.start_date }}
              </div>
            </td>
            <td>
              <div class="flex gap-2 align-items-center">
                <i class="pi pi-arrow-right" style="color: green; font-size: 0.8rem;"></i>
                {{ taskCompleted.end_date }}
              </div>
            </td>
            <td>
              <p class="w-fit h-fit bg-green-500 border-round-lg border-green-500 p-2 text-white">
                {{ taskCompleted.main_day }} 
                <span *ngIf="taskCompleted.main_day != 1; else oneDay">days</span>
                <ng-template #oneDay>day</ng-template>
              </p>
            </td>
            <td>{{ taskCompleted.created_by_name }}</td>
            <td>
              <div class="flex flex-row w-full justify-content-end gap-2" *ngFor="let item of taskCompleted.tag.slice(0, -1).split(', ')">
                <p class="w-fit bg-yellow-300 border-round-sm border-primary-500 p-2"  *ngFor="let x of item.split(',')">{{ x }}</p>
              </div>
            </td>
            <td><img src="{{ taskCompleted.image }}" alt="avatar" class="w-3rem h-3rem border-circle"></td>
            <td><i class="pi pi-ellipsis-v"></i></td>
          </tr>
        </ng-template>
      </p-table>

      <!-- Close table -->
      <p-table [value]="taskClosed" [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template pTemplate="header">
          <tr>
            <th class="w-1">{{ taskClosed[0].status }}</th>
            <th class="w-4">Task name</th>
            <th class="w-1 text-center">Start date</th>
            <th class="w-1 text-center">End date</th>
            <th class="w-1">Main day</th>
            <th class="w-1">Created by</th>
            <th class="w-2 text-right">Tag</th>
            <th class="w-1">Assignee</th>
            <th class="w-1">Edit</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-taskClosed>
          <tr>
            <td>
              <p class="w-fit h-fit surface-200 border-round-lg border-primary-500 p-2">#{{ taskClosed.task_id }}</p>
            </td>
            <td class="w-25rem">
              <span class="w-fit h-fit bg-red-500 border-round-lg border-red-500 p-2 text-white mr-2">Closed</span>
              <del>{{ taskClosed.task_name }}</del>
            </td>
            <td>
              <div class="flex gap-2 align-items-center">
                <i class="pi pi-flag-fill" style="color: red;"></i>
                {{ taskClosed.start_date }}
              </div>
            </td>
            <td>
              <div class="flex gap-2 align-items-center">
                <i class="pi pi-arrow-right" style="color: green; font-size: 0.8rem;"></i>
                {{ taskClosed.end_date }}
              </div>
            </td>
            <td>
              <p class="w-fit h-fit bg-green-500 border-round-lg border-green-500 p-2 text-white">
                {{ taskClosed.main_day }} 
                <span *ngIf="taskClosed.main_day != 1; else oneDay">days</span>
                <ng-template #oneDay>day</ng-template>
              </p>
            </td>
            <td>{{ taskClosed.created_by_name }}</td>
            <td>
              <div class="flex flex-row w-full justify-content-end gap-2" *ngFor="let item of taskClosed.tag.slice(0, -1).split(', ')">
                <p class="w-fit bg-yellow-300 border-round-sm border-primary-500 p-2"  *ngFor="let x of item.split(',')">{{ x }}</p>
              </div>
            </td>
            <td><img src="{{ taskClosed.image }}" alt="avatar" class="w-3rem h-3rem border-circle"></td>
            <td><i class="pi pi-ellipsis-v"></i></td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
