<div class="border-round-xs flex align-items-center justify-content-center w-full h-screen">
    <div class="flex flex-column align-items-center justify-content-center">
        <div style="border-radius:20px">
            <div class="w-full surface-card" style="border-radius:20px">
                <div class="text-left mb-7">
                    <span class="text-5xl font-semibold">Login to continue</span>
                </div>

                <form class="example-form" [formGroup]="loginForm" (ngSubmit)="login()">
                    <label for="login_name" class="block text-900 text-xl font-medium mb-2">Login name</label>
                    <input id="login_name" formControlName="login_name" type="text" placeholder="Login name" pInputText class="w-full md:w-30rem mb-5" style="padding:1rem">

                    <label for="password1" class="block text-900 text-xl font-medium mb-2">Password</label>
                    <p-password id="password1" formControlName="password" [(ngModel)]="password" placeholder="Password" [toggleMask]="true" styleClass="mb-5" inputStyleClass="w-full p-3 md:w-30rem"></p-password>

                    <div class="flex align-items-center justify-content-between mb-5 gap-5">
                        <div class="flex align-items-center">
                            <p-checkbox id="rememberme1" formControlName="rememberMe" [binary]="true" styleClass="mr-2"></p-checkbox>
                            <label for="rememberme1">Remember me</label>
                        </div>
                        <a class="font-medium no-underline ml-2 text-right cursor-pointer"
                            style="color: var(--primary-color)">Forgot password?</a>
                    </div>
                    <button pButton pRipple label="Log In" class="w-full p-3 text-xl"></button>
                </form>
            </div>
        </div>
    </div>
</div>
